@using SMAUG.Models

@model ItemViewModel

@{
    ViewBag.Title = "ItemView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col text-center" name="item-data-right">
            <div>
                <p name="biblio-invention">test</p>
                <p name="person-adaptation">test</p>
                <p name="biblio-adaptation">test</p>
            </div>
        </div>
        <div class="col text-center" name="item-data-center">
            <div>J.R.R. Tolkien   </div>
            <div class="m-5 p-5">Maker</div>
            <div class="m-5 p-5 item-name">Item name</div>
            <div class="m-5 p-3">Year</div>
            <div class="m-5 p-2">Item type</div>
        </div>
        <div class="col text-center" name="item-data-left">
            <div>
                <p>test</p>
                <p>test</p>
                <p>test</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" name="buttons">
            <div class="col-md-4">
                <div class="bg-transparent border rounded-circle border-3 border-danger">
                    <p class="text-center">Item link</p>
                </div>
            </div>
            <div class="col-md-4 offset-md-4">
                <div class="bg-transparent border rounded-circle border-3 border-danger">
                    <p class="text-center">Lists link</p>
                </div>
            </div>
        </div>
    </div>
</div>


