@{
    ViewBag.Title = "Home page";
}
 
<div>
    @Html.ActionLink("List of items", "Index", "Items")<br />
    @Html.ActionLink("List of persons", "Index", "Persons")<br />
    @Html.ActionLink("List of secondary world entities", "Index", "Ardas")
</div>